[Unit]
Description=Aliaswalletd Docker Container
Documentation=https://github.com/aliascash/docker-aliaswalletd
Requires=docker.service
After=docker.service

[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=aliaswalletd"
Environment="DATA_VOL=alias-data"
Environment="IMG=aliascash/docker-aliaswalletd:dev"
Environment="PORT=37347:37347/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-spectrecoind.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/alias --name ${NAME} -p ${PORT} ${IMG} alias_oneshot $ARGS

[Install]
WantedBy=multi-user.target
